* {
    margin: 0;
    padding: 0;
}

html {
    cursor: crosshair;
    user-select: none;
    overflow: hidden;
}

.window {
    width: 100vw;
    height: 100vh;
    background-image: url('hunting_back ground.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    width: 200px;
    position: absolute;
}
.time_and_score {
    height: 80px;
    border: 2px solid silver;
    border-radius: 4px;
    display: flex;
    background-color: rgb(133, 133, 33);
    user-select: none;
}

#b1 {
    right: 100%;
    animation: bird_animate1 8s linear infinite;
z-index: 1;
}

#b6 {
    left: 100%;
    width: 150px; 
    height: 150px;
    animation: bird_animate6 6s linear infinite;
    animation-delay: 4s;
    z-index: 10;
}
 

#b5 {
    right: 100%;
    animation: bird_animate5 6s linear infinite;
    animation-delay: 8s;
    z-index: 2;
} 

#b2 {
    right: 100%;
    animation: bird_animate2 8s linear infinite;
    z-index: 3;
}

#b4 {
    right: 100%;
    animation: bird_animate4 7s linear infinite;
    z-index: 4;
}

#b3 {
    right: 100%;
    animation: bird_animate3 7s linear infinite;
    z-index: 5;
}

@keyframes bird_animate1 {
    0% { right: -30%; bottom: 60%; }
    25% { right: 20%; bottom: 30%; }
    50% { right: 40%; bottom: 60%; }
    75% { right: 74%; bottom: 45%; }
    100% { right: 110%; bottom: 68%; }
} 

@keyframes bird_animate2 {
    0% { right: -30%; bottom: 80%; }
    25% { right: 40%; bottom: 40%; }
    50% { right: 70%; bottom: 72%; }
    75% { right: 97%; bottom: 25%; }
    100% { right: 110%; bottom: 80%; }
}

@keyframes bird_animate3 {
    0% { right: -30%; bottom: 30%; }
    25% { right: 40%; bottom: 50%; }
    50% { right: 80%; bottom: 70%; }
    75% { right: 97%; bottom: 25%; }
    100% { right: 110%; bottom: 40%; }
}

@keyframes bird_animate4 {
    0% { right: -30%; bottom: 70%; }
    25% { right: 20%; bottom: 30%; }
    50% { right: 60%; bottom: 70%; }
    75% { right: 74%; bottom: 45%; }
    100% { right: 110%; bottom: 80%; }
}

@keyframes bird_animate6 {
    0% { left: -30%; bottom: 60%; }
    25% { left: 40%; bottom: 40%; }
    50% { left: 70%; bottom: 52%; }
    75% { left: 97%; bottom: 25%; }
    100% { left: 110%; bottom: 30%; }
}

@keyframes bird_animate5 {
    0% { right: -30%; bottom: 30%; }
    25% { right: 40%; bottom: 10%; }
    50% { right: 80%; bottom: 60%; }
    75% { right: 90%; bottom: 25%; }
    100% { right: 110%; bottom: 40%; }
}
#score {
    position: fixed;
    top: 10px;
    right: 1%;
    font-size: 45px;
    color: beige;
    border: 4px seashell solid;
    border-radius: 18px;
    padding:4px;
    width: 200px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#scoreTimer {
    position: fixed;
    top: 10px;
    left: 1%;
    font-size: 45px;
    color: white;
    border: 4px seashell solid;
    border-radius: 18px;
    padding:4px;
    width: 450px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Modal styles (adjust as needed) */
.modal {
    display: none;
    position: fixed;
    z-index: 25;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    padding: 40px;  
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
/* Style for the modal content */
.modal-content {
    background-color: #F5F5F5; /* Light gray background */
    margin: 15% auto;
    padding: 20px;
    border: 8px solid rgb(133, 133, 33); /* Light border color */
    border-radius: 20px;
    width: 30%;
    height: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  }
  
#restartButton {
    border: 2px solid #4A4A4A; /* Border color */
    color: rgb(133, 133, 33); /* Text color */
    font-weight:bold;
    font-style:italic;
    font-size: 24px; /* Font size */
    background-color: rgb(229, 229, 212); /* Background color */
    padding: 12px 24px; /* Padding */
    margin-left: 150px;
    margin-top: 19px;  /* Margin to position the button */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition on hover */
    cursor: pointer;
  }
  
  /* Hover effect */
  #restartButton:hover {
    background-color:rgb(133, 133, 33); /* Darker background color on hover */
    color: #ECECEC; /* Text color change on hover */
  }
  
/* Style for the final score */
#finalScore {
    font-size: 50px; /* Font size */
    padding: 2px; /* Padding */
    color: rgb(133, 133, 33); /* Decent color for the score */
    font-weight:bold;
    font-style:italic;
  }
  
  /* color: #6D214F; */

  p{
    color:rgb(133, 133, 33);
    font-size: 50px;
    padding: 20px;
    margin-left: 20px;
    font-weight:bold;
    font-style:italic;
  
  }

  